# Arquivos de compilação do CMake
/build/
/out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Executáveis (não envie o jogo compilado para o código fonte)
meu_rpg
*.out
*.exe
*.dll
*.so

# Arquivos temporários do C++ e do sistema operacional
*.o
*.obj
*~
.DS_Store
